.field-group {
  margin-bottom: 18px;
}

label {
  /* Shape */
  display: block;
  margin-bottom: 0.4em;

  /* Text */
  color: var(--color-primary);
  font-size: 1.8em;
}

input {
  /* Shape */
  padding: var(--input-padding);
  border: 2px solid var(--color-primary);
  border-radius: var(--border-radius);
  display: block;
  width: 100%;

  /* Text */
  color: var(--color-light-grey);
  text-align: center;
  font-size: var(--input-font-size);
}
